<?xml version="1.0" ?>
<robot
	name="gripper_camera"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:xacro="http://ros.org/wiki/xacro" >
 
	<property name="M_PI" value="3.14159"/>

	<xacro:macro name="youbot_gripper_camera">
		<joint name="gripper_camera_joint" type="fixed">
			<origin xyz="-0.01 0 0.035" rpy="0 ${-90*M_PI/180} 0" />
			<parent link="gripper_palm_link" />
			<child link="gripper_camera_link"/>
    	</joint>

		<link name="gripper_camera_link">
			<inertial>
				<mass value="0.01" />
				<origin xyz="0 0 0" />
				<inertia ixx="0.001"  ixy="0.0"  ixz="0.0" iyy="0.001"  iyz="0.0" izz="0.001" />
			</inertial>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.01 0.01 0.01" />
				</geometry>
      			</visual>
			<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.01 0.01 0.01" />
				</geometry>
			</collision>
		</link>

		<joint name="gripper_optical_joint" type="fixed">
			<origin xyz="0 0 0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
			<parent link="gripper_camera_link" />
			<child link="gripper_optical_frame"/>
		</joint>
		<link name="gripper_optical_frame">
			<inertial>
				<mass value="0.01" />
				<origin xyz="0 0 0" />
				<inertia ixx="0.001"  ixy="0.0"  ixz="0.0" iyy="0.001"  iyz="0.0" izz="0.001" />
			</inertial>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.01 0.01 0.01" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.01 0.01 0.01" />
				</geometry>
			</collision>
		</link>

		<gazebo reference="gripper_camera_link">
			<sensor:camera name="gripper_camera_sensor">
				<imageSize>640 480</imageSize>
				<imageFormat>R8G8B8</imageFormat>
				<hfov>90</hfov>
				<nearClip>0.01</nearClip>
				<farClip>100</farClip>
				<updateRate>30.0</updateRate>
				<controller:gazebo_ros_camera name="gripper_camera_controller" plugin="libgazebo_ros_camera.so">
					<alwaysOn>true</alwaysOn>
					<updateRate>10.0</updateRate>
					<imageTopicName>sim_gripper_camera/image_raw</imageTopicName>
					<frameName>gripper_camera_link</frameName>
					<interface:camera name="gripper_camera_interface" />
				</controller:gazebo_ros_camera>
			</sensor:camera>
			<turnGravityOff>true</turnGravityOff>
			<material>Gazebo/Black</material>
		</gazebo>
	</xacro:macro>

</robot>
